* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

body.login-body {
	 background: url("/RMS/staticContent/images/restaurant5_1400x700.jpg");
/* 	background-repeat: no-repeat; */
 
}

h1.login-heading {
	color: #fff;
	text-align: center;
	font-faimly: icon;
}

img {
	background-repeat: no-repeat;
	background-position: (0, 0);
	
}

.login-form {
	/* width: 350px;
	padding: 40px 30px; */
	/* background: rgba(335, 335, 305, 0.5); */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 150px auto;
}

.form-group {
	position: relative;
	margin-bottom: 15px;
}

.form-control {
	width: 100%;
	height: 50px;
	border: none;
	padding: 5px 7px 5px 15px;
	background: #fff;
	color: #666;
	border: 2px solid #E0D68F;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.form-control:focus, .form-control:focus+.fa {
	border-color: #10CE88;
	color: #10CE88;
}

.form-group .fa {
	position: absolute;
	right: 15px;
	top: 17px;
	color: #999;
}

.log-status.wrong-entry {
	-webkit-animation: wrong-log 0.3s;
	-moz-animation: wrong-log 0.3s;
	-ms-animation: wrong-log 0.3s;
	animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control+.fa {
	border-color: #ed1c24;
	color: #ed1c24;
}

@
keyframes wrong-log { 0% {
	left: 0px;
}

20%
{
left
:
 
15
px
;
}
40%
{
left
:
 
-15
px
;
}
60%
{
left
:
 
15
px
;
}
80%
{
left
:
 
-15
px
;
}
100%
{
left
:
 
0
px
;
}
}
@
-ms-keyframes wrong-log { 0% {
	left: 0px;
}

20%
{
left
:
 
15
px
;
}
40%
{
left
:
 
-15
px
;
}
60%
{
left
:
 
15
px
;
}
80%
{
left
:
 
-15
px
;
}
100%
{
left
:
 
0
px
;
}
}
@
-moz-keyframes wrong-log { 0% {
	left: 0px;
}

20%
{
left
:
 
15
px
;
}
40%
{
left
:
 
-15
px
;
}
60%
{
left
:
 
15
px
;
}
80%
{
left
:
 
-15
px
;
}
100%
{
left
:
 
0
px
;
}
}
@
-webkit-keyframes wrong-log { 0% {
	left: 0px;
}

20%
{
left
:
 
15
px
;
}
40%
{
left
:
 
-15
px
;
}
60%
{
left
:
 
15
px
;
}
80%
{
left
:
 
-15
px
;
}
100%
{
left
:
 
0
px
;
}
}
.log-btn {
	background: #0AC986;
	dispaly: inline-block;
	width: 100%;
	font-size: 16px;
	height: 50px;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.link {
	text-decoration: none;
	color: #0A2C81;
	text-align: right;
	font-size: 12px;
	margin-bottom: 15px;
	float: right;
}

.link:hover {
	text-decoration: none;
	color: #F11184;
}

.rememberMe {
	color: #0A2C81;
}
.item{
	position: relative;
	margin-top: 30px;
	left: 10%;

} 

.item input{
	padding: 10px 10px;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	/* border: none; */
	border: 1px solid #000;
 border-bottom: 2px solid #a92626; 
}



 .item label{
	position: absolute;
	top: -10px;
	left: 20px;
	padding: 0;
	transition: 0.3s;
	 background-color: #009172; 
	font-size: 14px;
   	text-align:center;
   	color:#f0f0f0
} 

.invoice_label_up label{
	position: absolute;
	top: 15px;
	left: 20px;
	padding: 0;
	transition: 0.3s;
	text-align:center
}

.invoice_label_up input:focus ~ label,
.invoice_label_up input:valid ~ label{
	top: -21px;
	left: 25px;
	font-size: 14px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	/* font-size: 16px; */
} 

.item input[type="text"]{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	   
}


.item input{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	    padding: 14px;
}

.item select{
	    border-radius: 9px;
	    border-color: #21409c;
	   /*  background-color: #f0f0f0; */
	    padding: 14px;
}

.item select{
	padding: 8px 10px;
	margin-bottom: 30px;
	width: 100%;
	/* box-sizing: border-box; */
	box-shadow: none;
	outline: none;
	font-size: 16px;
	font-weight: 700;
	/* border: none; */
	
	/* border-bottom: 2px solid #a92626; */
}

.invoice_grid{
	margin-left: -194px;
    margin-bottom: 30px;
    margin-top: 30px;
} 

.invoice_grid_1{
	margin-left: -290px;
	    padding-top: 18px;
}


.invoice_button input{
	padding-bottom: 35px;
}


.item textarea{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	    padding: 13px;
}

.ibutton input[type="button"]{
	width: 120px;
	padding-bottom: 7px;
	margin-top: 28px;
	margin-left:20px;
}

.ibutton input[type="reset"]{
	width: 120px;
	padding-bottom: 7px;
	margin-top: 28px;
	margin-left:20px;
}
.ibutton input[type="submit"]{
	width: 120px;
	padding-bottom: 7px;
	margin-top: 28px;
}


.bar{
position: relative;
display: block;
}

.bar:after, .bar:before{
content: "";
width: 0;
height: 2px;
bottom: 29px;
background: green;
position: absolute;
transition: all ease 0.2s;
-webkit-transition:  all ease 0.2s;
-moz-transition:  all ease 0.2s;
}

.bar:before{
left: 48%;
}

.bar:after{
right: 48%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after{
width: 50%;
} 
.show-checkbox h4 {
    font-size: 19px;
    font-weight: 700;
    color: #ff0023;
    display: ;
}
.login-checkbox input[type="checkbox"] {
    margin: -26px 0;
    /* font-size: 40px; */
}
