* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

body.login-body {
	background-image: url(/RMS/staticContent/images/restaurant5_1400x700.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 897px;
 
}

.login-form {
	background: rgba(0,0,0,0.7);/*  #333333de; */
    padding: 30px; 
    border: 2px solid #fffefe;
    border-radius: 4px;
    width: 345px;
    height: 520px;
    top: 50%;
    left: 50%; 
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
} 

.login-heading {
	color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 30px;
    text-transform: uppercase;
}

form .form-group {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}

.form-group input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	outline: none;
	background: none;
	color: #fff;
}

.form-group label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #fff;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}

.form-group select{
	width: 100%;
	padding: 0px 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	outline: none;
	background: none !important;
	color: #fff;
}

.form-group span:before {
	content:'';
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #2691d9;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label,
.form-group select ~ label {
	top: -5px;
	color: #00e3a2;
}

.ibutton input[type="button"]{
	width: 130px;
	padding-bottom: 7px;
	margin-top: 22px;
	margin-left:20px;
	border-radius: 25px;
}

.ibutton .btn-success {
	margin-left:0px !important;
}

.login-checkbox label {
    font-size: 16px;
    color: #fff;
}

select option {
	color: #000;
	padding: 5px;
}


@media ( max-width : 1200px) {
	.login-form {
   		width: 317px !important;
    	height: 456px !important;
   		top: 53% !important;
	}
	
	.user {
    	width: 85px !important;
    	height: 85px !important;
    	left: calc(50% - 40px) !important;
	}
	
	.login-heading {
    	font-size: 30px !important;
    	padding: 10px !important;
	}
	
	.ibutton input[type="button"] {
    	width: 105px !important;
    	padding: 6px !important;
    	margin-top: 17px !important;
	}
}

@-moz-document url-prefix() {
	.form-group select{
		padding: 7px 5px;
	}
}
